.align_item{
    align-items:flex-end;
}

.title{
    background-color: aqua;
    align-items: center;
}

.api_data{
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
}
.hide{
    display: none;
}